.paper {
    width:500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
    padding: 30px;
  }

.avatar {
    margin: 8px;
}

.form {
    width: 100%; 
    margin-top: 8px;
  }

.submit {
    margin: 24px 0px 16px;;
  }