.labelLeft {
    padding: 10px;
    text-align: left;
}

.labelRight {
    padding: 10px;
    text-align: right;   
}

.gridStyle{
    padding: 10px;
    box-sizing: border-box;
}

.leftTextMenu{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 10px 10px;
}

.headerTitle{
    padding: 20px 10px;
    min-width: 170px;
}