.labelLeft {
    padding: 10px;
    text-align: left;
}

.labelRight {
    padding: 10px;
    text-align: right;   
}

.gridStyle{
    padding: 10px;
    box-sizing: border-box;
}



.headerTitle{
    padding: 20px 10px;
    min-width: 170px;
}