.cakeFilters-box{
    position: 'realtive';
    display: 'flex';
    z-index:'99';
    flex-direction: 'row';
    flex-wrap: 'wrap'; 
    align-items:'center';
    justify-content: 'center';
    max-width: '1200px';
}

.cakeFilters-button {
    margin: '20px'; 
    width: '100px';
    height: '20px';
}

.MuiButton-root{
    margin: '25px';
    padding: '14px';
    color: black;
}